<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>
    <table cellspacing="2" border="1" cellpadding="3" width="500">
        <tr>
            <th>ID</th>
            <th>MODEL</th>
            <th>SERIES</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td align="center"><p th:text="${car.getId()}"></p></td>
            <td align="center"><p th:text="${car.getModel()}"></p></td>
            <td align="center"><p th:text="${car.getSeries()}"></p></td>
        </tr>
    </table>
</div>
</body>
</html>